# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ========================
# Jupyter
# ========================
.ipynb_checkpoints/

# ========================
# Data (важно!)
# ========================
data/raw/
data/processed/

# если вдруг используешь zarr отдельно
*.zarr
*.zarr.zip

# numpy
*.npy
*.npz

# ========================
# Models / Checkpoints
# ========================
*.pt
*.pth
*.ckpt

# ========================
# Outputs (опционально)
# ========================
outputs/tmp/

# если не хочешь хранить все результаты:
# outputs/

# ========================
# Logs
# ========================
*.log

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db

# ========================
# IDE
# ========================
.vscode/
.idea/

# ========================
# Kaggle / Colab
# ========================
kaggle.json